language = "csharp"
run = "mcs -out:main.exe 'final-project/main.cs' 'final-project/book.cs' 'final-project/bag.cs' 'final-project/user.cs' 'final-project/nbook.cs' 'final-project/nuser.cs' 'final-project/nbag.cs' 'final-project/nloan.cs' 'final-project/loan.cs'; mono main.exe"