language = "csharp"
run = "mcs -out:main.exe 'project/main.cs' 'project/book.cs' 'project/cart.cs' 'project/user.cs' 'project/nbook.cs' 'project/nuser.cs' 'project/ncart.cs' 'project/exemplary.cs' 'project/nexemplary.cs' 'project/archive.cs'; mono main.exe"